<div class="loginsection__loginwrapper__logintile" id="tile_login_register">
    <h4 class="logintile__header">Регистрация</h4>
    <input placeholder="Логин" class="logintile_registerfield" id="logintile_register_login" type="text">
    <input placeholder="Пароль" class="logintile_registerfield" id="logintile_register_pass" type="password">
    <input placeholder="Повторите Пароль" class="logintile_registerfield" id="logintile_register_repeatpass" type="password">

    <div class="button logintile__button" onclick="register_submit()">
        <span class="logintile__button__text">Зарегистрироваться</span>
    </div>

</div>