body{
    color:white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Myriad Pro', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header__buttonwithicon{
    text-align: center;
}

.header__logowrapper{
    width: 60px;
    height: 100%;
    background-image: url(logo_small.png);
    background-repeat: no-repeat;
}

.header{
    height: 60px;
    width: 100%;
}

.header .header__tilescontainer{
    height: 100%;
    min-width: 60%;
}

.header__tilescontainer .header__tile{
    font-size: 13px;
    height: 100%;
    padding: 1%;
}


.header__tilescontainer .header__tile:hover{
    display: block;
    text-align: center;
    text-decoration: none;
}


.header .header__tile__button .button__text{
    padding-left: 4px;
}


.button{
    border-radius: 25px;
    padding: 15px 32px;
    font-size: 16px;
  }
  
.slide{
    width: 100%;
    height: 260px;
    background-size: 100%;
}

.slide__content .slide__text{
    padding-top: 6%;
    padding-left: 30%;
    padding-bottom: 2%;
}

.firstslide__text{
    font-size: 18px;
}

.firstslide__buttontext{
    font-size: 14px;
}

.slide {
    padding: 2%;
}

.firstslide__button{
    width: 15%;
    left:30%;
    padding: 5px;
}

.pagemiddle{
    height: 780px;
}

.pagemiddle__exchangerates{
    padding-right: 10%;
    padding-top: 2%;
    height: 60%;
}

.exchangerates__title{
    padding-left: 20px;
    padding-bottom: 2%;
}

.exchangerates__table{
    width: 100%;
}

.pagemiddle__tiles{
    height: 100%;
}

.pagemiddle__tiles__tile{
    border-radius: 15px;
    max-width:49%;
    min-height: 20%;
    margin-top: 1%;
    margin-left: 1%;
    max-height: 40%;
}



.tile__textwrapper{
    max-width: 480px;
    padding: 20px 20px 0 20px;
}


.tile__textwrapper__header{
    font-size: 1.14em;
    margin-bottom: .7em;
}

.tile__textwrapper__text{
    line-height: 1.85;
    margin-bottom: .7rem;
}


.exchangetable__tableheader{
    font-size: 14px;
}


.exchangetable__tableheader,
.exchangetable__tabledata{
    padding: 15px;
}


.banknews{
    width: 100%;
    max-height: 600px;
}

.banknews__title{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 40px;
}

.banknews__newswrapper{
    margin-bottom: 1%;
    height: 100%;
}


.banknews__newswrapper__newsentry{
    height: 300px;
    width: 48%;
    margin-bottom: 1%;
    border-radius: 14px;
    margin-left: 1%;
}


.banknews__newswrapper__newsentry .newsentry__header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.banknews__newswrapper__newsentry .newsentry__main{
    padding-left: 10px;
    padding-right: 10px;
    height: 55%;
}

.banknews__newswrapper__newsentry .newsentry__button{
    width: 40%;
}
