body{
    max-height: 1800px;
    color:white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Myriad Pro', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

textarea, select, input, button { outline: none; }

.reference:link {
    color: black;
}
  
.reference:visited {
    color: black;
}
  
.reference:hover {
    color: black;
}
  
.reference:active {
    color: black;
}

.loginwrapper__logintile{
    display:block;
    background-color: white;
    max-width: 100px;
    min-height: 100px;
    margin-left: 40%;
}

.footer{
    display: block;
    color: black;
    height: 20px;
}


.header .header__tilescontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
}

.header__tilescontainer .header__tile{
    float:left;
    border-left: 1px solid #b4afae;
    transition: all 0.3s ease 0s;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}


.header__tilescontainer .header__tile:hover{
    transition: all 0.3s ease 0s;
    display: block;
    color: rgb(56, 139, 247);
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px #b4afae;;
}

.header__tilescontainer .header__tile:nth-child(1){
    border-left: none;
    box-shadow: none;   
}

.header__tilescontainer .header__tile:nth-child(1):hover{
    border-left: none; 
    box-shadow: none; 
}

.header .header__tile__button{
    text-align: center;
}

.header .header__tile__button .button__text{
    color:black;
}

header .header__tile__button .button__text:visited{
    color:black;
}

header .header__tile__button .button__text:hover{
    color:black;
}

header .header__tile__button .button__text:link{
    color:black;
}


.header .header__tile__button .button__icon{
    float:left;
}

.supportsection{
    background-color: rgb(231, 231, 231);
}

.supportsection__supportwrapper{
    text-align: center;
    background-color: #f7f8f9;
    background-repeat: no-repeat;
    background-size: cover;
}

.supportsection__supportwrapper__header{
    color:black;
    font-weight: lighter;
}

.supportsection__supportwrapper__supporttileswrapper__tile{
    background-color: white;
    border-radius: 5px;
}

.supportsection__supportwrapper__findinput{
    border: none; 
    color: gray;
    border:solid 1px #ccc;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
}

.supportsection__supportwrapper__findinput:hover{
    border: none; 
    color: gray;
    border:solid 1px #ccc;
    transition: all 0.3s ease 0s;
    border-color: rgb(19, 112, 233);
}

.supportsection__supportwrapper__supporttileswrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.supportsection__supportwrapper__supporttileswrapper__tile{
    color: rgb(19, 112, 233);
    transition: all 0.3s ease 0s;
    box-shadow: 1px 1px 1px 1px #b4afae;
}

.supportsection__supportwrapper__supporttileswrapper__tile:hover{
    color: rgb(19, 112, 233);
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 2px 2px #b4afae;
}

.supportsection__chattile{
    background-color: #f7f8f9;
    color:black;
    font-weight: lighter;
}

.supportsection__chattile__header{
    font-weight: lighter;
}

.supportsection__chattile__phonenumber{
    color: rgb(19, 112, 233);
}
