body{
    max-height: 1800px;
    color:white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Myriad Pro', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

textarea, select, input, button { outline: none; }

.reference:link {
    color: black;
}
  
.reference:visited {
    color: black;
}
  
.reference:hover {
    color: black;
}
  
.reference:active {
    color: black;
}

.loginwrapper__logintile{
    display:block;
    background-color: white;
    max-width: 100px;
    min-height: 100px;
    margin-left: 40%;
}

.footer{
    display: block;
    color: black;
    height: 20px;
}


.header .header__tilescontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
}

.header__tilescontainer .header__tile{
    float:left;
    border-left: 1px solid #b4afae;
    transition: all 0.3s ease 0s;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}


.header__tilescontainer .header__tile:hover{
    transition: all 0.3s ease 0s;
    display: block;
    color: rgb(56, 139, 247);
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px #b4afae;;
}

.header__tilescontainer .header__tile:nth-child(1){
    border-left: none;
    box-shadow: none;   
}

.header__tilescontainer .header__tile:nth-child(1):hover{
    border-left: none; 
    box-shadow: none; 
}

.header .header__tile__button{
    text-align: center;
}

.header .header__tile__button .button__text{
    color:black;
}

header .header__tile__button .button__text:visited{
    color:black;
}

header .header__tile__button .button__text:hover{
    color:black;
}

header .header__tile__button .button__text:link{
    color:black;
}


.header .header__tile__button .button__icon{
    float:left;
}


.loginsection{
    text-align: center;
    background-image: url(/newsbg.png);
    background-repeat: no-repeat;
}

.logintile__header{
    color: black;
    font-weight: lighter;
}

.loginsection__loginwrapper{
    display:flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: inherit;
}


.loginsection__loginwrapper__logintile{
    color:black;
    font-weight: lighter;
    background: white;
    box-shadow: 1px 1px 1px 1px #b4afae;;
}


.loginsection__loginwrapper__logintile .logintile__header{
    color: rgb(19, 112, 233);
}


.loginsection__loginwrapper__logintile .logintile__button{
    transition: all 0.3s ease 0s;
    color:white;
    background-color: rgb(19, 112, 233);
}

.loginsection__loginwrapper__logintile .logintile__button:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(217, 231, 248);
    color:black;
}

.loginsection__loginwrapper__servicetext{
    transition: all 0.3s ease 0s;
    display:block;
}

.loginsection__loginwrapper__servicetext:hover{
    transition: all 0.3s ease 0s;
    color: rgb(19, 112, 233);
}

.logintile__field{
    transition: all 0.3s ease 0s;
}

.logintile__field:hover{
    transition: all 0.3s ease 0s;
    border-color: rgb(19, 112, 233);
}

.loginsection{
    background-image: url(/login_folder/loginbg.png);
    padding-top: 1%;
}
