body{
    max-height: 1800px;
    color:white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Myriad Pro', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.reference:link {
    color: white;
}
  
.reference:visited {
    color: white;
}
  
.reference:hover {
    color: white;
}
  
.reference:active {
    color: white;
}


.header{
    height: 80px;
    width: 100%;
}

.header .header__tilescontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    height: 100%;
    min-width: 60%;
}

.header__tilescontainer .header__tile{
    font-size: 17px;
    height: 100%;
    float:left;
    border-left: 1px solid #b4afae;
    padding: 1%;
    transition: all 0.3s ease 0s;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}



.header__tilescontainer .header__tile:hover{
    padding: 1%;
    transition: all 0.3s ease 0s;
    display: block;
    color: rgb(56, 139, 247);
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px #b4afae;;
}

.header__tilescontainer .header__tile:nth-child(1){
    border-left: none;
    box-shadow: none;   
}

.header__tilescontainer .header__tile:nth-child(1):hover{
    border-left: none; 
    box-shadow: none; 
}

.header .header__tile__button{
    text-align: center;
}

.header .header__tile__button .button__text{
    padding-left: 4px;
    float:left;
}

.header .header__tile__button .button__icon{
    float:left;
}

.button{
    transition: all 0.3s ease 0s;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
  }
  
.button:hover{
    transition: all 0.3s ease 0s;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
}

.slide{
    width: 100%;
    height: 400px;
    background-image: url(firstslide.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.slide__content .slide__text{
    position: relative;
    padding-top: 6%;
    padding-left: 30%;
    padding-bottom: 2%;
}

.firstslide__button{
    color: black;
    background-color: white;
    position: relative;
    width: 120px;
    height: 20px;
    top: 5%;
    left:30%;
}

.firstslide__button:hover{
    background-color: rgb(19, 112, 233);
    color: white;
    position: relative;
    width: 120px;
    height: 20px;
    top: 5%;
    left:30%;
}

.pagemiddle{
    height: 620px;
}

.pagemiddle__exchangerates{
    color:black;
    float:right;
    padding-right: 10%;
    padding-top: 2%;
    height: 60%;
}

.pagemiddle__exchangerates__title{
    color:rgb(19, 112, 233);
    font-weight: lighter;
    padding-left: 20px;
    padding-bottom: 2%;
}

.pagemiddle__exchangerates__table{
    text-align: left;
    font-weight: lighter;
    border-collapse: collapse;
}

.pagemiddle__tiles{
    display:table;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 65%;
    float:left;
}

.pagemiddle__tiles__tile{
    float:left;
    color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px gray;
    width:30%;
    margin-top: 5%;
    margin-left: 1%;
    max-height: 40%;
}

.pagemiddle__tiles__firsttile{
    background-repeat: no-repeat;
    background-image: url(firsttile.jpg);
    background-size: cover;
}


.pagemiddle__tiles__secondtile{
    transition: all 0.3s ease 0s;
    background-color:#d64f4d;
}

.pagemiddle__tiles__secondtile:hover{
    transition: all 0.3s ease 0s;
    background-color:#b64644;
}

.pagemiddle__tiles__thirdtile{
    background-repeat: no-repeat;
    background-image: url(thirdtile.jpeg);
    background-size: cover;
}


.pagemiddle__tiles__tile:nth-child(n + 4){
    margin-top: 1%;
}

.pagemiddle__tiles__fourthtile{
    transition: all 0.3s ease 0s;
    background-color: rgb(19, 112, 233);
}

.pagemiddle__tiles__fourthtile:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(21, 93, 187);
}

.pagemiddle__tiles__fifthtile{
    background-repeat: no-repeat;
    background-image: url(fifthtile.jpg);
    background-size: cover;
}


.tile__textwrapper{
    font-weight: lighter;
    max-width: 480px;
    padding: 45px 20px 0 20px;
}

.tile__textwrapper__header{
    font-size: 1.14em;
    margin-bottom: .7em;
}

.tile__textwrapper__text{
    line-height: 1.85;
    margin-bottom: 1.5rem;
}


.exchangetable__tableheader{
    color:rgb(19, 112, 233);
}

.exchangetable__tableheader,
.exchangetable__tabledata{
    border-bottom: 1px solid rgb(19, 112, 233);
    padding: 20px;
}

.exchangetable__tablerow{
    transition: all 0.3s ease 0s;
}

.exchangetable__tablerow:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(217, 231, 248);
}

.exchangetable__tableheaderrow:hover{
    background-color: white;
}

.exchangetable__tablerow:nth-child(2) .exchangetable__tabledata:nth-child(2){
    color: red;
}

.exchangetable__tablerow:nth-child(2) .exchangetable__tabledata:nth-child(3){
    color: green;
}

.exchangetable__tablerow:nth-child(3) .exchangetable__tabledata:nth-child(2){
    color: green;
}

.exchangetable__tablerow:nth-child(3) .exchangetable__tabledata:nth-child(3){
    color: green;
}

.exchangetable__tablerow:nth-child(4) .exchangetable__tabledata:nth-child(2){
    color: red;
}

.exchangetable__tablerow:nth-child(4) .exchangetable__tabledata:nth-child(3){
    color: red;
}

.banknews{
    text-align: center;
    width: 100%;
    height: 430px;
    background-image: url(newsbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.banknews__title{
    padding-top: 20px;
    font-size: 40px;
    color: black;
    font-weight: lighter;
}

.banknews__newswrapper{
    display: flex;
    flex-direction: row;
}

.banknews__newswrapper__newsentry:nth-child(1){
    margin-left: 10%;
}

.banknews__newswrapper__newsentry{
    height: 250px;
    color:black;
    font-weight: lighter;
    margin-top:5%;
    width: 15%;
    background: white;
    border-radius: 14px;
    margin-left: 2%;
    box-shadow: 1px 1px 1px 1px #b4afae;;
}

.banknews__newswrapper__newsentry .newsentry__header{
    color: rgb(19, 112, 233);
    padding-top: 20px;
    padding-bottom: 20px;
}

.banknews__newswrapper__newsentry .newsentry__main{
    padding-left: 10px;
    padding-right: 10px;
    height: 55%;
}

.banknews__newswrapper__newsentry .newsentry__button{
    width: 40%;
    margin-left: 16%;
    color:white;
    background-color: rgb(19, 112, 233);
}

.banknews__newswrapper__newsentry .newsentry__button:hover{
    background-color: rgb(217, 231, 248);
    color:black;
}