body{
    max-height: 1800px;
    color:white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Myriad Pro', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

textarea, select, input, button { outline: none; }

.reference:link {
    color: black;
}
  
.reference:visited {
    color: black;
}
  
.reference:hover {
    color: black;
}
  
.reference:active {
    color: black;
}


.footer{
    display: block;
    color: black;
    height: 20px;
}


.header .header__tilescontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
}

.header__tilescontainer .header__tile{
    float:left;
    border-left: 1px solid #b4afae;
    transition: all 0.3s ease 0s;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}


.header__tilescontainer .header__tile:hover{
    transition: all 0.3s ease 0s;
    display: block;
    color: rgb(56, 139, 247);
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px #b4afae;;
}

.header__tilescontainer .header__tile:nth-child(1){
    border-left: none;
    box-shadow: none;   
}

.header__tilescontainer .header__tile:nth-child(1):hover{
    border-left: none; 
    box-shadow: none; 
}

.header .header__tile__button{
    text-align: center;
}

.header .header__tile__button .button__text{
    color:black;
}

header .header__tile__button .button__text:visited{
    color:black;
}

header .header__tile__button .button__text:hover{
    color:black;
}

header .header__tile__button .button__text:link{
    color:black;
}


.header .header__tile__button .button__icon{
    float:left;
}

.welcomesection{
    background-image: url(/WT.Labs/Lab1/about/welcome-1134x800.jpg);
    background-size: cover;
    background-position: center top;
}

.welcomesection__welcomeblock{
    background-color: white;
}

.welcomesection__welcomeblock{
    color:black;
}