body{
    max-height: 1800px;
    color:white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Myriad Pro', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.reference:link {
    color: white;
}
  
.reference:visited {
    color: white;
}
  
.reference:hover {
    color: white;
}
  
.reference:active {
    color: white;
}

.footer{
    display: block;
    color: black;
    height: 20px;
}

.header .header__tilescontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
}

.header__tilescontainer .header__tile{
    float:left;
    border-left: 1px solid #b4afae;
    transition: all 0.3s ease 0s;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}



.header__tilescontainer .header__tile:hover{
    transition: all 0.3s ease 0s;
    display: block;
    color: rgb(56, 139, 247);
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px #b4afae;;
}

.header__tilescontainer .header__tile:nth-child(1){
    border-left: none;
    box-shadow: none;   
}

.header__tilescontainer .header__tile:nth-child(1):hover{
    border-left: none; 
    box-shadow: none; 
}

.header .header__tile__button{
    text-align: center;
}

.header .header__tile__button .button__text{
    color:black;
}

header .header__tile__button .button__text:visited{
    color:black;
}

header .header__tile__button .button__text:hover{
    color:black;
}

header .header__tile__button .button__text:link{
    color:black;
}


.header .header__tile__button .button__icon{
    float:left;
}

.button{
    transition: all 0.3s ease 0s;
    text-align: center;
    display: block;
  }
  
.button:hover{
    transition: all 0.3s ease 0s;
    text-align: center;
    display: block;
}

.slide{
    background-image: url(firstslide.jpg);
    background-repeat: no-repeat;
}

.slide__content .slide__text{
    position: relative;
}

.firstslide__button{
    color: black;
    background-color: white;
    position: relative;
}

.firstslide__button:hover{
    background-color: rgb(19, 112, 233);
    color: white;
    position: relative;
}


.pagemiddle__exchangerates{
    color:black;
    float:right;
}

.exchangerates__title{
    color:rgb(19, 112, 233);
    font-weight: lighter;
 }

.exchangerates__table{
    text-align: left;
    font-weight: lighter;
    border-collapse: collapse;
}

.pagemiddle__tiles{
    display:flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    float:left;
}

.pagemiddle__tiles__tile{
    float:left;
    color: white;
    box-shadow: 2px 2px 2px 2px gray;
}

.pagemiddle__tiles__firsttile{
    background-repeat: no-repeat;
    background-image: url(firsttile.jpg);
    background-size: cover;
}


.pagemiddle__tiles__secondtile{
    transition: all 0.3s ease 0s;
    background-color:#d64f4d;
}

.pagemiddle__tiles__secondtile:hover{
    transition: all 0.3s ease 0s;
    background-color:#b64644;
}

.pagemiddle__tiles__thirdtile{
    background-repeat: no-repeat;
    background-image: url(thirdtile.jpeg);
    background-size: cover;
}


.pagemiddle__tiles__fourthtile{
    transition: all 0.3s ease 0s;
    background-color: rgb(19, 112, 233);
}

.pagemiddle__tiles__fourthtile:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(21, 93, 187);
}

.pagemiddle__tiles__fifthtile{
    background-repeat: no-repeat;
    background-image: url(fifthtile.jpg);
    background-size: cover;
}

.pagemiddle__tiles__sixthtile{
    transition: all 0.3s ease 0s;
    background-color: rgb(19, 112, 233);
}

.pagemiddle__tiles__sixthtile:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(21, 93, 187);
}

.tile__textwrapper{
    font-weight: lighter;
}



.exchangetable__tableheader{
    color:rgb(19, 112, 233);
}


.exchangetable__tableheader,
.exchangetable__tabledata{
    border-bottom: 1px solid rgb(19, 112, 233);
}

.exchangetable__tablerow:nth-child(4) .exchangetable__tabledata{
    border-bottom: none;
}

.exchangetable__tablerow{
    transition: all 0.3s ease 0s;
    color:black;
}


.exchangetable__tablerow:hover{
    transition: all 0.3s ease 0s;
    background-color: rgb(217, 231, 248);
}

.exchangetable__tableheaderrow:hover{
    background-color: white;
}

.exchangetable__tablerow:nth-child(2) .exchangetable__tabledata:nth-child(2){
    color: red;
}

.exchangetable__tablerow:nth-child(2) .exchangetable__tabledata:nth-child(3){
    color: green;
}

.exchangetable__tablerow:nth-child(3) .exchangetable__tabledata:nth-child(2){
    color: green;
}

.exchangetable__tablerow:nth-child(3) .exchangetable__tabledata:nth-child(3){
    color: green;
}

.exchangetable__tablerow:nth-child(4) .exchangetable__tabledata:nth-child(2){
    color: red;
}

.exchangetable__tablerow:nth-child(4) .exchangetable__tabledata:nth-child(3){
    color: red;
}

.banknews{
    text-align: center;
    background-image: url(newsbg.png);
    background-size: cover;
}

.banknews__title{
    color: black;
    font-weight: lighter;
}

.banknews__newswrapper{
    display:flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: inherit;
    float:left;
}


.banknews__newswrapper__newsentry{
    color:black;
    font-weight: lighter;
    background: white;
    box-shadow: 1px 1px 1px 1px #b4afae;
}


.banknews__newswrapper__newsentry .newsentry__header{
    color: rgb(19, 112, 233);
}


.banknews__newswrapper__newsentry .newsentry__button{
    color:white;
    background-color: rgb(19, 112, 233);
}

.banknews__newswrapper__newsentry .newsentry__button:hover{
    background-color: rgb(217, 231, 248);
    color:black;
}

.banknews__newswrapper__newsentry .newsentry__button{
    display: inline-block;
}

.banknews__newswrapper__newsentry{
    text-align: center;
}

