body{
    color:white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Myriad Pro', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header__logoreference{
    display:block;
    width: 100%;
    height: 100%;
}

.header__buttonwithicon{
    text-align: center;
}

.header__tilescontainer{
    display: block !important;
}


.header__logowrapper{
    width: 60px;
    height: 100%;
    background-image: url(/index_folder/logo_small.png);
    background-repeat: no-repeat;
}

.header__tile{
    display:none !important;
}

.header__logowrapper{
    display:block !important;
}


.header{
    height: 80px;
    width: 100%;
}

.header .header__tilescontainer{
    height: 100%;
    min-width: 60%;
}

.header__tilescontainer .header__tile{
    font-size: 17px;
    height: 100%;
    padding: 1%;
}



.header__tilescontainer .header__tile:hover{
    display: block;
    text-align: center;
    text-decoration: none;
}


.header .header__tile__button .button__text{
    padding-left: 4px;
}

.loginsection{
    width: 100%;
}


.loginsection__loginwrapper{
    height: 100%;
}


.loginsection__loginwrapper__logintile{
    width: 100%;
    margin-bottom: 1%;
    border-radius: 14px;
    padding: 2%;
    margin-left: 2%;
}

.loginsection__loginwrapper__logintile .logintile__header{
    padding-top: 20px;
    padding-bottom: 40px;
}

.loginsection__loginwrapper__logintile .logintile__button{
    border-radius: 10px;
}

.loginsection__loginwrapper__logintile .logintile__button{
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    font-size: 20px;
}

.logintile__button{
    padding-top: 10px;
}

.loginsection__loginwrapper__servicetext{
    margin-top: 3%;
}

.logintile__header{
    font-size: 25px;
}

.logintile__field{
    width: 40%;
    height: 10%;
    font-size: 20px;
    padding: 1.5%;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 15px;
}

.logintile__button__text{
    font-size: 13px;
}

.loginsection__loginwrapper__regtext{
    font-size: 13px;
}

.logintile_registerfield{
    width: 50%;
    height: 10%;
    margin-top: 2%;
    font-size: 15px;
    border: none;
    border:solid 1px #ccc;
    border-radius: 15px;
}

